{% extends "shop/layout.html" %}

{% block title %}Список товарів{% endblock %}

{% block content %}
  <h2>Список товарів</h2>
  {% if products %}
    <table class="table">
      <tr>
        <th>ID</th><th>Назва</th><th>Ціна</th><th>Категорія</th>
      </tr>
      {% for p in products %}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.price }} ₴</td>
          <td><span class="badge">{{ p.category.name }}</span></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="card">Поки що товарів немає.</div>
  {% endif %}
{% endblock %}
